@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon" type="image/png">
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/ripples.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/material-wfont.min.css")" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            @content
        </div>
    <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

    <script src="@routes.Assets.at("js/ripples.min.js")"></script>
    <script src="@routes.Assets.at("js/material.min.js")"></script>
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>
    </body>
</html>
