<!DOCTYPE html>

<html ng-app="MoviesApp">
    <head>
        <title> Movie Recommendations </title>
        <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon" type="image/png">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-journal", "bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-journal", "bootstrap-theme.min.css"))">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.MovieController.list()">Movie Recommendation</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class='{ active: PAGE === "movies-all" }'><a href="/movies">Movies</a></li>
                    <li ng-class='{ active: PAGE === "movies-top" }'><a href="/popular">Popular Movies</a></li>
                    <li ng-class='{ active: PAGE === "users-all" }'><a href="/users">Users</a></li>
                </ul>
                <form ng-hide="PAGE === 'movies-details' || PAGE === 'users-details'" class="navbar-form navbar-right" method="GET">
                    <input class="form-control col-lg-8" placeholder="Search" type="text" name="query" ng-model="query">
                </form>
            </div>
        </div>

        <div class="container" ng-view></div>

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-journal", "bootstrap.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
        <script src="@routes.Assets.at("javascripts/factories.js")"></script>
        <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    </body>
</html>
